progress {
  width: 100%;
  height: 12px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.294);
}

/* Style the progress bar for WebKit browsers (e.g., Chrome, Safari) */
progress::-webkit-progress-bar {
  background-color: #f5f5f5; /* Light gray background */
  border-radius: 10px; /* Rounded corners */
}

/* Style the value (filled part) of the progress bar for WebKit browsers */
progress::-webkit-progress-value {
  background-color: #ffb300; /* Blue color for filled part */
  border-radius: 10px; /* Rounded corners */
}

/* Style the progress bar for Mozilla Firefox */
progress::-moz-progress-bar {
  background-color: #ffb300; /* Blue color for filled part */
  border-radius: 10px; /* Rounded corners */
}
